* {
    padding: 0;
    margin: 0;
}

.menu {
	padding-right: 10%;
	padding-left: 10%;
}

.title {
    text-align: center;
    padding: 0.8em;
    background: rgb(119, 119, 255);
    color: white;
}

.signin {
	margin-top: 30px;
	padding-right: 10%;
	padding-left: 10%;
}

.footer {
	background: rgb(119, 119, 255);
	color: white;
	padding: 1em 10% 1em 10%;
	bottom: 0;
	position: absolute;
	width: 100%;
}

.footer p {
	margin: 0;
}